/* cargo.css - Wrapper importando design system global */
@import url('../styles/global.css');

/* Apenas sobrescrita de estilos específicos de cargo */
.cargo-list td {
    vertical-align: middle;
}

/* Ajustes específicos dos botões de cargo */
.btn-id {
    text-align: left;
    width: 100%;
}/*O próximo CRUD a ser padronizado é o de pedido. Quer que eu continue com ele?*/